#root {
  width:100%;
  margin: 0 auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.item{
  text-align: left; !important;
  padding-bottom: 5px;
  padding-top: 5px;
}



/* From Uiverse.io by Juanes200122 */
.container {
  min-width: 100%;
  min-height: 100vh;
  background-color: rgb(43, 43, 43);
  /*background-image: radial-gradient(rgba(12, 12, 12, 0.05) 2px, transparent 0);*/
  /*background-size: 30px 30px;*/
  /*background-position: -0px -0px;*/
  padding: 0px !important;
}


/* From Uiverse.io by doniaskima */
.inputContainer {
  position: relative;
}

.customInput {
  height:100%;
  width: 60%;
  background-color: transparent;
  border: none;
  box-shadow: inset 0 -1.5px 0 0 rgba(0, 0, 0, 0.65);
  outline: none;
  transition: border-color 0.3s ease;
}


.myCard{
  background-color: #1a1a1a;
  min-height: 70vh;
  border-width: 0px;
  border-radius: 0.75em;
  margin: 1em 2em 2em;
  max-height: fit-content;
  padding: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.myBtn{
  border-radius: 8px;
  padding-block: inherit;
  background-color: #2b2b2b;
}

.redBtn{
  border-width: 0px;
  color: red;
}

.greenBtn {
  border-width: 0px;
  color: green;
}

.greyBtn{
  border-width: 0px;
  color: rgb(101, 120, 140);
}
#add{
  margin-left: 2px;
}

.greenBtn:hover{
  box-shadow: 0px 0px 3px 1px rgba(0, 128, 0, 0.8);
}

.redBtn:hover{
  box-shadow: 0px 0px 3px 1px rgba(255, 0, 0, 0.8);
}


.greyBtn:hover{
  box-shadow: 0px 0px 3px 1px rgba(101, 120, 140, 0.65);
}


#header{
  text-align: left;
}

#title{
  text-align: left;
  padding-top: 1rem;
  padding-left: 1rem;
  color: #d6d6d6;
}

.player-column {

}